/*==================================*
    $INDEX v0.1 |
*===================================*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
button {
  padding: 0;
  outline: none;
  border: 0;
}
input, button {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}

input, button {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}





.main-div, .login_div {
  width: 20%;
  margin: 0px auto;
  margin-top: 20px;
  padding: 20px;
  display: none;
 
}

.main-div, .loggedin-div {
  width: 20%;
  margin: 0px auto;
  margin-top: 20px;
  padding: 20px;
  display: none;
 
}

.main-div input {
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
  padding: 15px;
  outline: none;
  width: 100%;
  margin-bottom: 20px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}

.main-div input:focus {
  border: 1px solid black;
  
}

.main-div button, .loggedin-div button {
  background: #5d8ffc;
  color: #fff;
  border: 1px solid green;
  border-radius: 5px;
  padding: 10px;
  display: block;
  width: 100%;
 
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}






.main-div button:hover, .loggedin-div button:hover {
  background: #fff;
  color: #5d8ffc;
  border: 1px solid #5d8ffc;
  cursor: pointer;
}
h1 {
  margin: 0;
}
p {
  margin: 0;
}
h2 {
  margin: 0;
}
figure {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
canvas {
  vertical-align: top;
}
img {
  width: 100%;
  height: 100%;
  vertical-align: top;
}
input {
  border: none;
  outline: none;
  padding: 0;
  background-color: transparent;
}
/* normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; /* 2 */
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
/*===================================*
    $BASE
*===================================*/
::-webkit-scrollbar {
/* This is the magic bit */
  display: none;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  background-size: 100%;
  font-family: 'PT Sans', sans-serif;
}
#player {
  position: absolute;
  z-index: 1;
  width: 70%;
  height: 50%;
  left: 0;
  top: 0;
}
.container {
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-box;
  display: inline-flex;
  width: 100%;
  height: 100vh;
}
.container .chatAll {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  width: 80%;
  height: 100%;
  background-color: #36393e;
  padding: 20px;
  position: relative;
}
.container .chatAll #name {
  -webkit-box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.3);
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.3);
  position: absolute;
  background: #fff;
  height: 30px;
  right: 20px;
  text-align: center;
}
.container .chatAll #chatContainer {
  overflow-y: scroll;
  padding-bottom: 65px;
  list-style-type: none;
  height: 96%;
}
.container .chatAll #chatContainer li {
  color: #c3c4c5;
  margin: 10px 0;
  border-radius: 20px;
  width: auto;
  padding: 5px 10px;
  border-bottom: 1px solid #3e4146;
}
.container .chatAll #chatContainer li #messageName {
  color: #fff;
}
.container .chatAll #messageContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 75px;
  z-index: 1;
  padding: 15px 20px;
}
.container .chatAll #messageContainer #message {
  height: 45px;
  margin: 0 auto;
  width: 100%;
  background-color: #424549;
  padding: 0 20px;
  border: 2px solid #686a6e;
  border-radius: 6px;
  color: #c3c4c5;
}
.container .chatAll #messageContainer #message::-webkit-input-placeholder {
  color: #67696d;
}
.container .chatAll #messageContainer #message:-moz-placeholder {
  color: #67696d;
}
.container .chatAll #messageContainer #message::-moz-placeholder {
  color: #67696d;
}
.container .chatAll #messageContainer #message:-ms-input-placeholder {
  color: #67696d;
}
.container .searchVideo {
  width: 20%;
  background-color: #2e3136;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.container .searchVideo .inputSearch {
  width: 90%;
  margin: 20px auto;
}
.container .searchVideo .inputSearch input {
  background-color: #24272b;
  color: #f7f7f7;
  font-size: 13px;
  width: 100%;
  height: 30px;
  border: solid 1px #212121;
  padding-left: 10px;
  font-weight: 400;
}
.container .searchVideo .inputSearch input::-webkit-input-placeholder {
  color: #46484c;
}
.container .searchVideo .inputSearch input:-moz-placeholder {
  color: #46484c;
}
.container .searchVideo .inputSearch input::-moz-placeholder {
  color: #46484c;
}
.container .searchVideo .inputSearch input:-ms-input-placeholder {
  color: #46484c;
}
.container .searchVideo .listResult {
  overflow-y: scroll;
  overflow-x: hidden;
}
.container .searchVideo .listResult .videoContainer {
  border-bottom: 1px solid #3e4146;
  color: #fff;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 15px;
  padding-top: 11px;
  padding-bottom: 11px;
  cursor: pointer;
  width: 90%;
  margin: 0 auto;
}
.container .searchVideo .listResult .videoContainer .videoDescription {
  display: block;
  margin-bottom: 10px;
}
.container .searchVideo .listResult .videoContainer .videoImage {
  width: 200px;
  height: auto;
}
@media only screen and (min-device-width: 319px) and (max-device-width: 640px) {
  .videoName {
    font-size: 16px;
  }
  .container .searchVideo .listResult .videoContainer .videoImage {
    width: 270px;
  }
  .searchVideo {
    position: absolute;
    top: 0;
    z-index: 2;
    width: 100% !important;
    height: auto !important;
  }
  .chatAll {
    width: 100% !important;
  }
  .chatAll #player {
    width: 100% !important;
  }
}
